{% extends 'base.html.twig' %}

{% block title %}Gite Les Gruyeres{% endblock %}

{% block main %}
    {% include('partials/_sliderHome.html.twig') %}
    {% include('partials/_login.html.twig') %}

    <div class="ombreFondTexteEtImages">
        <div class="fondTexteEtImage">
            <h2 class="titreSite">Venez vous perdre en Livradois</h2>
            <h5 class="signatureSite">
                Les chemins du Livradois Forez vous tendent les bras.
            </h5>
        </div>
    </div>

{% endblock %}
