{% extends 'base.html.twig' %}

{% block title %}Gite Les Gruyeres{% endblock %}

{% block main %}
    {% include('partials/_sliderHome.html.twig') %}
    {% include('partials/_login.html.twig') %}

    <div class="ombreFondTexteEtImages">
        <div class="fondTexteEtImage">
            <h2 class="titreSite">Venez vous perdre en Livradois</h2>
            <h5 class="signatureSite">
                Les chemins du Livradois Forez vous tendent les bras.
            </h5>
        </div>
    </div>

    <div class="blocActualite">

        <section class="presentationActiviteLesBruyeres">
            <img src="{{ asset('/build/images/Index-Images/maisonGiteLesBruyeres.jpg') }}" alt="gite-les-bruyeres"
                 class="photoGiteLesBruyeres">
            <span> <h2>Bienvenu sur notre site de reservation en ligne et de vente de produit régionaux</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries
                , but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus
                PageMaker including versions of Lorem Ipsum.
            </p> </span>
        </section>

    </div>

    {% include('partials/_cards.html.twig') %}


{% endblock %}
