<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>Gite Les Bruyeres
                    </h6>
                    <p>Quid? qui se etiam nunc subsidiis patrimonii
                        aut amicorum liberalitate sustentant,
                        hos perire patiemur? An, si qui frui publico non potuit per hostem.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Nos Produits
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Sucrés</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Boissons</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Hygiene-Beauté</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Idées Cadeaux</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Hebergements
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Chambres à la nuit</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Gite equestre</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Gite Enduro</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i> Lieu-Dit Les Bruyeres<br>63550 PALLADUC</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        contact@giteLesBruyeres.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 06 06 06 06</p>
                    <p><i class="fas fa-print me-3 text-secondary"></i> + 01 07 08 09 06</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Mentions Légales:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">https://GiteLesBruyeres.com</a>
    </div>
    <!-- Copyright -->

</footer>