<div id="backgroundImageAcceuil">
    <img class="head head1" src="{{ asset('/build/images/Slider-Images/TousLesProduitsSlideShow.jpg') }}" alt="">
    <img class="head head2" src="{{ asset('/build/images/Slider-Images/MontsDuForez MontBrison.jpg') }}" alt="">
    <img class="head head3" src="{{ asset('/build/images/Slider-Images/ReceptionGroupSlideshow.jpg') }}" alt="">
</div>