<div id="backgroundImageAcceuil">
    <img class="head head1" src="{{ asset('/build/images/Slider-Images/ImageDeFond Gites Les Bruyeres.jpeg') }}" alt="">
    <img class="head head2" src="{{ asset('/build/images/Slider-Images/ProduitRegSlideShow.jpg') }}" alt="">
    <img class="head head3" src="{{ asset('/build/images/Slider-Images/ReceptionGroupSlideshow.jpg') }}" alt="">
</div>