{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block main %}

    {% include('partials/_sliderProducts.html.twig') %}
    {% include('partials/_login.html.twig') %}
    <div class="ombreFondTexteEtImages">
        <div class="fondTexteEtImage">
            <h2 class="titreSite">Un large choix de produit pour vous</h2>
            <h5 class="signatureSite">
                Ici c'est tout ce qu'il y a de mieux fabriqué en Livradois-Forez
            </h5>
        </div>
    </div>

    <div class="blocBlancBoutique">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-6 g-5">
                {% for product in categoryDetail.products %}

                    {% include('partials/_cardsProduct.html.twig') %}

                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}